body{
    background-color: #EBEBEB;
    padding: 20px 50px 20px 50px;
    font-family: "Noto Sans", sans-serif;
}

p{
    font-size: 12pt;
}

.tabs-component-tabs{
    display:none;
}

#app {
    font-weight: normal;
    text-align: center;
    color: #2c3e50;
}

@font-face {
    font-family: "Noto Sans";
    src: url('fonts/Noto Sans/NotoSans-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: url('fonts/Noto Sans/NotoSans-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: url('fonts/Noto Sans/NotoSans-Italic.ttf') format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Noto Sans";
    src: url('fonts/Noto Sans/NotoSans-SemiBold.ttf') format("truetype");
    font-weight: 600;
}